block footer
    #bottom
        .container.flex
            .item1
                h3 CONTACT US
                ul
                    li
                        i.fa.fa-home
                        <strong>Address:</strong> Carrera 7 # 72-01<br>Bogotá D.C., Colombia
                    li 
                        i.fa.fa-envelope
                        <strong>Email:</strong>
                        a(href="https://www.free-css.com/free-css-templates") company@domain.com
                    li
                        i.fa.fa-globe
                        <strong>Website:</strong> 
                        a(href="https://www.free-css.com/free-css-templates") www.domain.com
                    li 
                        i.fa.fa-phone
                        <strong>Telephone:</strong> 123-456-7890
            .item2
                h3 COMPANY NAME
                ul
                    li
                        i.fa.fa-angle-right
                        a(href="#") About Us
                    li
                        i.fa.fa-angle-right
                        a(href="#") Services
                    li
                        i.fa.fa-angle-right
                        a(href="#") Portfolio
                    li
                        i.fa.fa-angle-right
                        a(href="#") Erro 404
                    li
                        i.fa.fa-angle-right
                        a(href="#") Privacy
                    li
                        i.fa.fa-angle-right
                        a(href="#") Policy
                    li
                        i.fa.fa-angle-right
                        a(href="#") Contact Us
            .item2
                h3 COMPANY NAME
                ul
                    li
                        i.fa.fa-angle-right
                        a(href="#") Link 1
                    li
                        i.fa.fa-angle-right
                        a(href="#") Link 2
                    li
                        i.fa.fa-angle-right
                        a(href="#") Link 3
                    li
                        i.fa.fa-angle-right
                        a(href="#") Link 4
                    li
                        i.fa.fa-angle-right
                        a(href="#") Link 5
                    li
                        i.fa.fa-angle-right
                        a(href="#") Link 6
                    li
                        i.fa.fa-angle-right
                        a(href="#") Link 7
            .item3
                h3 COMPANY NAME
                img(src="image/facebook.jpg", alt="")
    #footer
        .container.flex
            p © Copyright. All Rights Reserved.
            ul
                li
                    a(href="#"): <i class="fa fa-facebook"></i> 
                li
                    a(href="#"): <i class="fa fa-twitter"></i>
                li                
                    a(href="#"): <i class="fa fa-pinterest"></i>
                li
                    a(href="#"): <i class="fa fa-linkedin"></i>
                li 
                    a(href="#"): <i class="fa fa-google-plus"></i>
                li
                    a(href="#"): <i class="fa fa-youtube"></i>
                li
                    a(href="#"): <i class="fa fa-instagram"></i>
    #freecssfooter
        .content
            a(href="#"): img(src="image/menu.png", alt="")
