block header
    header#header 
        .container.flex
            .logo
                a(href="#"): img(src="image/logo.png", alt="")
            .list
                ul.flex
                    li.active: a(href="#")  HOME
                    li: a(href="#")  ABOUT US
                    li: a(href="#")  SERVICES
                    li: a(href="#")  PORTFOLIO
                    li.dropdown
                        a(href="#")  ADDITIONAL 
                            <i class="fa fa-angle-down"></i>
                        ul.dropdown-menu
                            li: a(href="#") Error 404
                            li: a(href="#") Privacy Policy
                    li: a(href="#")  CONTACT




                   




