block slider
    .slider
        .owl-carousel#owl-carousel1
            .item.item1
                .container.flex
                    .text
                        h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, fuga!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, numquam!
                        a(href="#") View More
                    .img: img(src="image/img1.png", alt="")
            .item.item2
                .container.flex
                    .text
                        h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, fuga!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, numquam!
                        a(href="#") View More
                    .img: img(src="image/img2.png", alt="")
            .item.item3
                .container.flex
                    .text
                        h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, fuga!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, numquam!
                        a(href="#") View More
                    .img: img(src="image/img3.png", alt="")